In [37]:
import numpy as np
import pandas as pd

In [38]:
df1 = pd.read_csv('unk-A-1_10\A-1.csv')

In [39]:
df1.head()

  Peak RetTime Type   Width        Area     Height  Area_1
0    #   [min]  NaN   [min]     [mAU*s]      [mAU]       %
1    1   0.575   BV  0.1009   312.93893   44.01591  0.4357
2    2   0.687   VB  0.0650    70.42937   14.93669  0.0981
3    3   0.857   BV  0.0654   919.41309  217.00862  1.2801
4    4   0.923   VV  0.0921  1358.78906  219.97292  1.8919

In [40]:
df2 = pd.read_csv('unk-A-1_10\A-2.csv')

In [41]:
df2.head()

  Peak RetTime Type   Width        Area     Height  Area_1
0    #   [min]  NaN   [min]     [mAU*s]      [mAU]       %
1    1   0.575   BV  0.1009   312.93893   44.01591  0.4357
2    2   0.687   VB  0.0650    70.42937   14.93669  0.0981
3    3   0.857   BV  0.0654   919.41309  217.00862  1.2801
4    4   0.923   VV  0.0921  1358.78906  219.97292  1.8919

In [45]:
df3= pd.read_csv('unk-A-1_10\A-3.csv')

In [46]:
df3.head()

    Peak RetTime    Type      Width      Area  Height  Area_1
#  [min]     NaN   [min]    [mAU*s]     [mAU]       %     NaN
1  0.573      BB  0.1249  262.41620  29.17618  0.3906     NaN
2  0.857      BV  0.0653  172.34644  40.80274  0.2566     NaN
3  0.925      VV  0.0920  256.82199  41.61040  0.3823     NaN
4  1.017      VB  0.0877  216.22224  36.19160  0.3219     NaN